<ion-content>
  <div class="main">
    <h3 class="head">The information of NSA</h3>
    <div class="container">
        <ul>
          <li>
            <h3 class="heading">Registration</h3>
            <p>Registration activities can be done starting </p>
            <span class="date">January 2 to August 31</span>
            <span class="circle"></span>
        </li>
        <li>
            <h3 class="heading">Participating in Academic Potential Test and Interview.</h3>
            <p>Academic Potential Test (TPA) This activity is conducted to assess general knowledge competence, including three types of questions: logical, mathematical, and general. TPA is conducted using computer-based methods, held both offline and online. The interview is conducted to determine the interests and talents of prospective students.</p>
            <span class="date">Potential Test</span>
            <span class="circle"></span>
        </li>
        
            <li>
                <h3 class="heading">Announcement of TPA Results and Registration Fee Payment</h3>
                <p>The registration process can be done either online or offline.</p>
                
                <span class="date">TPA Results Announcement</span>
                <span class="circle"></span>
            </li>
            <li>
                <h3 class="heading">Engaging in Pre-Study Activities</h3>
                <p>Implementation of Pre-Study Activities</p>

                <span class="date2">pre-study activities</span>
                <span class="circle"></span>
            </li>
        </ul>
    </div>
</div>
</ion-content>
